@charset "UTF-8";

@media (min-width: 1000px) {
    .cabeca .menu {
        width: 100%;
        padding-right: 30px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        

        gap: 50px;
        position: unset;        

    }

    .cabeca .menu a {
        font-size: 1.2em;
        text-wrap: nowrap;
    }

    #ham {
        display: none;
    }

    .banner .texto {
        width: 50%;
        max-width: 500px;
    }
}

@media (min-width: 700px) {
    .sobre {
        flex-direction: row;
        padding-bottom: 0px;
    }

    .sobre .imagem {
        width: 50%;
    }

    .sobre .info {
        width: 50%;
        display: flex;
    }

        .hora-local {
        flex-direction: row;
        align-items: start;
    }

    .hora, .local {
        width: 50%;
    }

    .local {
        padding-top: 0px;
    }

    .contato {
        flex-direction: row;
    }

    .contato .info {
        width: 50%;
    }

    footer .menus {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer .social {
        padding: 0px;
    }
}
