@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

:root {
    --fundo: #000000;
    --fundoInverso: #1a1a1a;
    --destaque: #E99B00;
    --destaqueLetra: #FFD100;
    --letra: #ffffff;
}


/* BOTAO */
.botao {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--destaqueLetra);
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    color: black;
    user-select: none;

    transition: all .2s ease;
    
}

.botao:hover {
    background-color: var(--destaque);
}

.botao > i {
    font-weight: bolder;
    font-size: 1.2em;
    padding-right: 5px;
}

/* BOTAO INVERSO */
.botao-inverso {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    width: max-content;
    padding: 10px;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    user-select: none;

    transition: all .2s ease;
}

.botao-inverso:hover {
    background-color: rgba(255, 255, 255, 0.219);
}

.botao-inverso > i {
    font-weight: bolder;
    font-size: 1.2em;
    padding-right: 5px;
}

/* FONTS */
.titulo {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    color: white;
}

.divisa {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    user-select: none;
}

body {
    background-color: var(--fundo);
    color: var(--letra);
}

.cabeca {
    width: 100%;
    height: min-content;
    background-color: var(--fundo);
    padding-right: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
}

.media-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

#ham {
    display: block;
    font-size: 1.5em;
    transition: transform .2s ease;
    cursor: pointer;

}

#ham:hover {
    transform: scale(1.1);
}

.menu { /* ----------Menu--------- */
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.8));
    padding: 30px 0px 0px 50px;
    height: 100%;
    width: 200px;

    display: none;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    position: absolute;
    right: 0;
    top: 160px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;

    transition: all .2s ease;
}

.menu a:hover {
    color: var(--destaqueLetra);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.menu.ativo {
    display: flex;
}

.banner { /* ----------Banner--------- */
    width: 100%;
    height: max-content;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(imagens/banner-power.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .texto {
    height: 100%;
    width: 90%;
    max-width: 500px;
    padding: 60px 0px 60px 60px;

    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: center;

    gap: 40px;
}

.banner .titulo {
    font-size: 3em;
}

.banner span {
    color: var(--destaqueLetra);
}

.banner .paragrafo {
    font-size: 1.5em;
}

.banner .botaos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.planos { /* ---------Planos--------- */
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planos .divisa {
    color: var(--destaque);
}

.container {
    margin: 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 350px;
    background-color: var(--fundoInverso);
    padding: 30px;
    border-radius: 5px;
    border: solid 2px var(--destaque);

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all .3s ease;
}

.card:hover {
    transform: scale(1.05);
    background-color: #2c2c2c;
}

.card > .titulo {
    color: var(--destaqueLetra);
}

.valor {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.valor .titulo {
    font-size: 2.5em;
}

.card ul {
    width: 100%;
    padding-left: 30px;
    padding-bottom: 20px;
    list-style: square;

    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.sobre {
    width: 100%;
    background-color: var(--destaqueLetra);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre .imagem {
    height: 300px;
    background-image: url(imagens/banner-sobre-power.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sobre .info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}
.info .titulo {
    font-size: 1.5em;
    color: black;
}

.info .divisa {
    font-size: 2em;
    color: black;
}

.info .paragrafo {
    color: black;
    font-size: 1.2em;
}
